@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap);
:root{
    /* Cores */
    --primary-color: #84090F;
    --segundary-color:#e2e2e2;
    --terciary-color: #D9D9D9;

    /* Fontes */
    --fonte-principal: "Poppins";
    --fonte-cor-principal: #e2e2e2;
    --fonte-cor-secundaria: #000;

    /* Estilos para o Input */
    --input-border-radius: 20px;
    --input-padding: 10px 15px;
    --input-font-size: 14px;

    /* Estilos para o focus-visible */
    --outline-focus-visible: 4px solid rgb(196, 165, 165);
    --border-radius-focus-visible: 15px;
}

/* *** Globais *** */

*{
    font-family: var(--fonte-principal);
    margin: 0px;
    padding: 0px;
}

/* Estilos do Input */
input{
    font-size: var(--input-font-size);
    border-radius: var(--input-border-radius);
    border: none;
    padding: var(--input-padding);
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    transition: .4s border-radius ease;
}

input:focus-visible{
    outline: var(--outline-focus-visible);
    border-radius: var(--border-radius-focus-visible);
}


/* Estilos do Label */
label{
    font-weight: 400;
}

/* Estilos de Container */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

/* *** Header *** */

/*alinhamento do cabeçalho*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFFFFF;
    font-weight: bold;
    font-family: var(--fonte-principal);
    position: sticky;
    z-index: 999;
    top: 0;
}

/*tamanho fixo do logo no cabeeçalho*/
header img{
    width: 80px;
}

/*tamanho máximo da parte dos textos cabeçalho*/
nav{
    max-width: 800px;
}

/*alinhamento dos textos do cabeçalho*/
nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

/*espaço entre os textos do cabeçalho*/
nav ul li{
    margin-left: 20px;
}
/*textos do cabeçalho*/
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
    cursor: pointer;
}

/*mudar a cor dos elemntos do cabeçalho ao passar o mouse por cima*/
nav ul li a:hover {
    color: #C90009;
}

/* *** Banner inicial ****/
.banner {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.315);
    margin-top: -10px;
}
.banner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}
.titulo-banner{
        font-weight: 700;
        font-size: 32px;
        color: white;
        text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.315);
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.650);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;    
}

/* *** Preços *** */

.nossos-espetinhos{
    background-color: var(--primary-color);
    min-height: 300px;
    width: auto;
    justify-content: flex-start;
}
.nossos-espetinhos h2{
    padding-bottom: 1%;
    height: 10%;
    font-size: 32px;
}
.nossos-espetinhos h2{
    color: #FFFFFF;
}
.nossos-espetinhos .cardapio{
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    width: 100%;
    height: 90%;
    background-color: #FFFFFF;
    gap: 25px;
    font-size: 20px;
    align-items: center;
}
.nossos-espetinhos .cardapio .produto{
    width: 90% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 5%;
    align-items: center;
}
.nossos-espetinhos .cardapio .produto p span{
    width: 33% ;
}
.nossos-espetinhos .cardapio .produto hr{
    width: 34%;
    border: #a10e15 dashed;
    flex-grow: .5;
    height: 0;
    border-width: 2.5px;
}
/* *** Kit Chureasco Banner *** */
.banner-kit-churrasco {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.400);
    margin-top: -10px;
}

.banner-kit-churrasco img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* *** Kit Churrasco *** */
.kit-churrasco{
    background-color: #FFFFFF;
    width: 100%;
    height: 400px;
    margin-top: -60px;
}

.kit {
    padding: 100px;
}


.kit-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.opcoes-box {
    display: flex;
    text-align: center;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
}


.kit-box h4 {
    font-weight: 700;
    font-size: 25px;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.100);
}
.kit-box  h3{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--primary-color);
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.100);

}

.kit p{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-top: auto;
}
.kit ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    list-style: none;
    line-height: 2;
    font-weight: 400;
    text-align: justify;
    font-size: 20px;
}

.kit li img{
    vertical-align:middle;
    margin-right: 10px;
}

/* *** Formulário de Pedidos *** */


.form-pedido-container{
    background-color: var(--primary-color);
    color: var(--segundary-color);
}

.form-pedido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 2rem;
}

.form-pedido hr{
    width: 100%;
    border: 1px solid var(--segundary-color);
    border-radius: 10px;
}

/* Estilos dos campos de dados (nome e endereço) */

.dados-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
}

.dado-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.dado-form input{
    width: 300px;
}

.dado-form label{
    width: 80px;
    text-align: start;
}

/* Estilos dos campos de opção (frango, carne, legume e linguiça) */

.opcoes-form{
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    text-align: center;
}    

.opcao-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcao-form img{
    width: 30px;
    height: 20px;
}

.opcao-form label{
    text-align: start;
    width: 125px;   
}

.opcao-form input{
    width: 110px;
    text-align: center;
}



/* Estilos dos elementos do container de resumo  */
.resumo-pedido{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    color: #000000;
    background-color: var(--terciary-color);
}

.resumo-pedido h2{
    width: 100%;
    text-align: center;
}

.resumo-dados-pedido{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
}

.resumo-opcoes-pedido{
    margin-top: 30px;
}

.resumo-opcoes-pedido ul{
    list-style: none;
}

.resumo-pedido span:not(.resumo-dado){
    margin-top: 30px;
    font-size: 12px;
}

/* Estilos do botão de enviar o form de pedido */

.enviar-form-pedido{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-enviar-form-pedido{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: var(--segundary-color);
    color: var(--fonte-cor-secundaria);
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    transition: 0.4s transform ease, .4s border-radius ease;
}

.btn-enviar-form-pedido:focus-visible{
    outline: var(--outline-focus-visible);
    border-radius: var(--border-radius-focus-visible);
}

.btn-enviar-form-pedido:hover{
    transform: translateY(-5px);
}
/* *** Vídeo *** */
.video-container{
    background-color: var(--terciary-color);
    color: var(--fonte-cor-secundaria);
    gap: 1.8rem;
}

.video-container h2{
    font-size: 1.3vw;
}

.video{
    width: 35vw;    
}

.video video{
    outline: 2px solid;
    border-radius: 20px;
    -webkit-box-shadow: 50px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
}

/* *** Formulário de Revendedores *** */
